.title h1{
	font-family: Futura;
	font-size: 62px;
	text-align: center;
	color: orange;
}

.line{
  border-top: 4px solid #666666;
  margin-right: 10%;
  margin-left: 10%;
}

.box1{

	border
	text-align: center;
}